.task-container{
   width: 400px;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    /* border: 1px solid #0099ff; */
    box-shadow: 0 3px 4px 2px rgba(0,0,0,0.2);
    position: relative;
}
.task-container:hover{
    border: 1px solid gray;
}
.task-title{
    margin: 2px;
}
.task-description{
    margin: 5px;
}
.task-priority{
    position: absolute;
    right: 0;
    top: 0;
    background-color:rgb(246, 22, 246);
    color: white;
    border-radius: 0 10px 0 0;
    padding: 2px;
    width: 100px;
}
.task-delete-icon{
    position: absolute;
    bottom: 5px;
    right: 50px;
    cursor: pointer;
    padding: 3px 10px;
    box-shadow: 2px 3px 1px rgb(143, 141, 141);
    border: 1px solid gray;
    color: red;
    border-radius: 20px;
}
.task-edit-icon{
    position: absolute;
    bottom: 5px;
    right: 10px;
    cursor: pointer;
    padding: 3px 7px;
    box-shadow: 2px 3px 1px rgb(143, 141, 141);
    border: 1px solid gray;
    color: black;
    border-radius: 20px;
}