.container{
    padding: 10px;
    margin: 0;
    min-height: 100vh;
    background-color: aliceblue;
}
.app-title{
    text-align: center;
    /* background-color: #a87aee; */
    background-color:  rgb(246, 22, 246);
    width: 400px;
    padding: 10px 50px;
    display:block;
    margin: 10px auto;
    border-radius: 20px;
    color: #fff;
}
.todo-flex-container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.task-input{
    display: block;
    width: 300px;
    font-size: 18px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    margin: 30px 10px;
}
.btn-add-task{
    /* background-color: blueviolet; */
    background-color: rgb(246, 22, 246);
    border: none;
    /* color:#ccc; */
    color: white;
    border-radius: 15px;
    padding: 10px 5px;
    /* border: 1px solid rgb(246, 22, 246); */
    margin: 20px;
    width: 120px;
}
.btn-container{
    display: flex;
    justify-content: space-around;
}
.tasks-container{
    /* background-color: tomato; */
    height: 400px;
    overflow-y: scroll;
}
.text-center{
    color: rgb(65, 64, 64);
    
}

/* reduce scrollbar width */
.tasks-container::-webkit-scrollbar{
    width: 5px;
}